In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
main_df = pd.read_csv("20181024_d1_0830_0900_segmented_oneaxistrajectory_cell_filtered.csv")

In [3]:
main_df

,Unnamed: 0.1,Unnamed: 0,lat,lon,speed,lon_acc,lat_acc,time,veh_id,link_id,link_distance,one_axis_trajectory,normalized_trajectory,closest_cell,stopped,lat_shifted,shifted_lon,veh_id_shifted,bearing
0,0,0,37.977364,23.737707,1.8440,-0.0325,-0.0815,5.40,1,4,0.000007,2.642469e+06,554.358140,cell_1,False,NaN,NaN,NaN,0.000000
1,1,1,37.977364,23.737707,1.8440,0.0321,-0.0750,5.44,1,4,0.000007,2.642469e+06,554.358140,cell_1,False,37.977364,23.737707,1.0,0.000000
2,2,2,37.977364,23.737707,1.8540,0.1068,-0.0675,5.48,1,4,0.000007,2.642469e+06,554.358140,cell_1,False,37.977364,23.737707,1.0,0.000000
3,3,3,37.977364,23.737707,1.8747,0.1818,-0.0593,5.52,1,4,0.000007,2.642469e+06,554.358140,cell_1,False,37.977364,23.737707,1.0,0.000000
4,4,4,37.977363,23.737707,1.9061,0.2537,-0.0507,5.56,1,4,0.000007,2.642469e+06,554.358140,cell_1,False,37.977364,23.737707,1.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631206,698052,1446098,37.980044,23.735572,28.9885,0.3464,0.7262,818.64,918,0,0.000036,2.642232e+06,62.440173,cell_3,False,37.980046,23.735570,918.0,321.753934
631207,698053,1446099,37.980041,23.735574,29.0103,0.3757,0.7476,818.68,918,0,0.000036,2.642232e+06,62.900986,cell_3,False,37.980044,23.735572,918.0,332.278818
631208,698054,1446100,37.980039,23.735576,29.0349,0.3894,0.7668,818.72,918,0,0.000036,2.642232e+06,63.361799,cell_3,False,37.980041,23.735574,918.0,321.753932
631209,698055,1446101,37.980036,23.735577,29.0621,0.4186,0.7833,818.76,918,0,0.000037,2.642232e+06,63.592206,cell_3,False,37.980039,23.735576,918.0,345.278740
631210,698056,1446102,37.980034,23.735579,29.0949,0.4668,0.7967,818.80,918,0,0.000037,2.642233e+06,64.053019,cell_3,False,37.980036,23.735577,918.0,321.753930